[submodule "thirdparty/TouchVG"]
	path = thirdparty/TouchVG
	url = https://github.com/touchvg/TouchVG.git
[submodule "thirdparty/TouchVGCore"]
	path = thirdparty/TouchVGCore
	url = https://github.com/touchvg/TouchVGCore.git
[submodule "thirdparty/SVGKit"]
	path = thirdparty/SVGKit
	url = https://github.com/SVGKit/SVGKit.git
[submodule "thirdparty/DemoCmds"]
	path = thirdparty/DemoCmds
	url = https://github.com/touchvg/DemoCmds.git
